<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Asosiy sozlamalar -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#cc8799">
    <meta name="description" content="KiddyShoppy – bolajonlar uchun zamonaviy va qulay kiyimlar. Yangi trendlar, sifatli mahsulotlar va oson buyurtma.">

    <!-- Open Graph (Facebook, Telegram va boshqalar uchun) -->
    <meta property="og:title" content="KiddyShoppy" />
    <meta property="og:description" content="Farzandingiz uchun zamonaviy va qulay kiyimlar – KiddyShoppyda!" />
    <meta property="og:image" content="https://postimg.cc/0b7KTPF8" />
    <meta property="og:url" content="https://kiddyshoppy.uz/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card (Twitter va Telegram uchun) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="KiddyShoppy">
    <meta name="twitter:description" content="Farzandingiz uchun zamonaviy va qulay kiyimlar – KiddyShoppyda!">
    <meta name="twitter:image" content="https://postimg.cc/0b7KTPF8">
    <!-- Apple mobil qurilmalar uchun -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>KiddyShoppy – Har bir libosda mehr</title>
    <!-- fontni kechiktirish -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- JSDelivr -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" href="/static/img/icon-logo-1.png">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
    {% include "navigation.html" %}
    {% block content %}
    
    {% endblock %}
    {% include "footer.html" %}
</body>
</html>